colorama
tabulate
pyzmq
aprs==6.0.0
kiss==6.0.0
enum34
ipython==7.16.3
influxdb
colorlog
hypothesis
Pillow
pyserial
keyboard
gitpython
pytz
slacker
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
websocket_client
pypredict
progressbar2
